
  .tasks {
    display: flex;
    flex-wrap: wrap;
  }
  .task {
    box-sizing: border-box;
    min-width: calc(33% - 30px);
    margin: 15px;
    position: relative;
    /*   max-width: 100%; */
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 350px;
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border: 1px solid #e0e0e0;
    padding: 20px;
    h1 {
      display: block;
      max-width: 100%;
    }
    &__title{
      letter-spacing: .00625em;
      font-family: 'Google Sans',Roboto,Arial,sans-serif;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5rem;
      display: inline-block;
      letter-spacing: 3px;
      margin-top: 20px;
      color: #202124;
    }
    &__text{
      color: #202124;
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.5rem;
      letter-spacing: 1px;
      display: inline-block;
      margin-top: 20px;
    }
    &__date{
      margin-top: 20px;
    }
    &__type{
      margin-top: 20px;
    }
  }
  .editing__actions{
      position: absolute;
      bottom: 0;
      display: flex;
      align-self: flex-end;
      align-items: center;
  }
  .edit__img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
  }
  .edit__img:hover{
      fill: red;
  }